# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

# do not ignore jekyll cache directory
.jekyll-cache

# do not include any emacs backup files.
*~

# Adding Emacs Local Variable Settings.

# Local Variables:
# backup-inhibited: t
# End:
