**/target/

/plogger-agent/plogger-agent.iml
/plogger-parent.iml
/plogger-agent-logger/plogger-agent-logger.iml
/plogger-agent-integration-tests/plogger-agent-integration-tests.iml
/plogger-agent-integration-module-tests/plogger-agent-integration-module-tests.iml
