---
layout: base
---

{% include header.html type="page" %}

<div class="container-lg" role="main">
  <div class="row">
    <div class="col">
      <div class="before-content">
        {% include quotes.html %}
        {% if page.before-content %}
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        {% endif %}
      </div>

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
